<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>
</head>
<body>
<p>
<form action="/greeting2" method="get" onsubmit="this.submit(); this.reset(); return false;">
    Salutation
    <select name="salutation">
        <option selected value="Hello">Hello</option>
        <option autofocus value="Bonjour">Bonjour</option>
    </select>
    <br/>
    Name: <input name="name" type="input">
    <br/>
    <input type="submit" value="Add Greeting"/>
</form>
</p>
<hr>
<p>
<table>
    <thead>
    <tr>
        <th> Salutation:</th>
        <th> Name:</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${greetings.empty}">
        <td colspan="2"> No Greetings stored.</td>
    </tr>
    <tr th:each="greeting : ${greetings}">
        <td><span th:text="${greeting.salutation.text}"> Title </span></td>
        <td><span th:text="${greeting.name.value}"> Author </span></td>
    </tr>
    </tbody>
</table>
</p>

</body>
</html>
