<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>My first application</title>
</h:head>
<h:body>
    <h:form id="greeting">
        <h:selectOneMenu value="#{greetingBean.selectedSalutation}">
            <f:selectItems value="#{greetingBean.salutations}" var="salutation"
                           itemValue="#{salutation}" itemLabel="#{salutation.text}"/>
        </h:selectOneMenu>
        <h:inputText value="#{greetingBean.enteredName}" label="Name: "/>
        <h:commandButton action="#{greetingBean.createGreeting()}" value="Create"/>
    </h:form>
    <hr/>
    <ul>
        <ui:repeat value="#{greetingBean.greetings}" var="greeting">
            <li>
                <h:outputText value="#{greeting}"/>
            </li>
        </ui:repeat>
    </ul>
</h:body>
</html>
